<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.communityshopping">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"
            android:maxSdkVersion="30" />
    <uses-permission
            android:name="android.permission.BLUETOOTH"
            android:maxSdkVersion="30" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:configChanges="locale"
            android:theme="@style/Theme.CommunityShopping">
        <activity
                android:name=".welcome.CreateGroupActivity"
                android:exported="false"
                android:label="@string/gruppe_erstellen" />
        <activity
                android:name=".welcome.JoinGroupActivity"
                android:exported="false"
                android:label="@string/gruppe_beitreten" />
        <activity
                android:name=".purchasing.PurchasingActivity"
                android:exported="false"
                android:label="@string/einkaufspreise"
                android:windowSoftInputMode="stateHidden">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".mainActivity.archive.ArchiveActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".welcome.WelcomeActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".mainActivity.MainActivity"
                android:exported="true" />
    </application>

</manifest>